@import "../../shared/styling/header-styling.scss";
@import "../../shared/styling/button-styling.scss";
@import "../../shared/styling/spinner.style.scss";

.content-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.content-wrapper label{
    margin-top: 24px;
    margin-bottom: 12px;
}
.content-wrapper .button-section{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 24px;
    margin-bottom: 12px;
}