<div class="content-wrapper">
    <header class="header-styling">
        <h1>Sign in</h1>
    </header>
    <div>
        <form *ngIf="loginFormGroup" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()"
            style="display: flex; flex-direction: column;">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" matInput [formControl]="usernameControl"  [errorStateMatcher]="matcher">
                <mat-hint>Required!</mat-hint>
                <mat-error *ngIf="usernameControl.hasError('required')">
                  Username required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordControl"  [errorStateMatcher]="matcher">
                <mat-hint>Required!</mat-hint>
                <mat-error *ngIf="passwordControl.hasError('required')">
                    Password required
                </mat-error>
            </mat-form-field>
            <div class="button-section">
                <button mat-raised-button color="primary" class="styled-submit-button" type="submit"
                    [disabled]="!loginFormGroup.valid">Submit</button>
            </div>
            <p *ngIf="authFailed$|async" style="color: red;">
                Login failed! Invalid password and/or username!
            </p>
        </form>
    </div>
</div>