@import "./variables.scss";

.table-styling {
    width: 100%;
}
.table-styling tr:nth-child(even) {
    background-color: $odd-row-color;
}

table {
    border-collapse: collapse;
}
td {
    text-align: center;
}


th {
    font-size: 1.75em;
    background-color: $odd-row-color;
    padding: 8px;
}

.product-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.85em;
}


