@import "../../shared/styling/header-styling.scss";
@import "../../shared/styling/button-styling.scss";
@import "../../shared/styling/spinner.style.scss";

textarea {
    resize: none;
}

label {
    margin-top: 8px;
    margin-bottom: 8px;
}
textarea {
    margin-top: 16px;
    margin-bottom: 16px;
}


.button-section{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.button-section button {
    margin-left:8px;
    margin-top: 8px;
}
