<form *ngIf="productFormGroup" [formGroup]="productFormGroup" (ngSubmit)="onSubmit()"
  style="display: flex; flex-direction: column;">

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher">
    <mat-hint>Required!</mat-hint>
    <mat-error *ngIf="productFormGroup.controls.name.hasError('required')">
      Username required
    </mat-error>
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Category</mat-label>
    <input type="text" matInput formControlName="category" [errorStateMatcher]="matcher">
    <mat-hint>Required!</mat-hint>
    <mat-error *ngIf="productFormGroup.controls.category.hasError('required')">
      Catgory required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Image</mat-label>
    <input type="text" matInput formControlName="image" [errorStateMatcher]="matcher">
    <mat-hint>Required and must be correct Url!</mat-hint>
    <mat-error *ngIf="productFormGroup.controls.image.hasError('required')">
      URL required
    </mat-error>
    <mat-error *ngIf="productFormGroup.controls.image.hasError('pattern')">
      Invalid URL
    </mat-error>
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Price</mat-label>
    <input type="number" matInput formControlName="price" [errorStateMatcher]="matcher">
    <mat-hint>Required and must be a correct number!</mat-hint>
    <mat-error *ngIf="productFormGroup.controls.price.hasError('required')">
      Price required
    </mat-error>
    <mat-error *ngIf="productFormGroup.controls.price.hasError('pattern')">
      Invalid price input
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea type="text" rows="4" matInput formControlName="description" [errorStateMatcher]="matcher"></textarea>
    <mat-hint>Required!</mat-hint>
    <mat-error *ngIf="productFormGroup.controls.description.hasError('required')">
      Description required
    </mat-error>
  </mat-form-field>

  <!-- <textarea id="description" rows="4" type="text" formControlName="description"></textarea> -->
  <div class="button-section">
    <button mat-raised-button color="primary" class="styled-submit-button" type="submit" [disabled]="!productFormGroup.valid">Submit</button>
    <button mat-raised-button color="warn" class="styled-submit-button" type="button" (click)="goBack()">Cancel</button>
  </div>
</form>