


$standard-font-size:1.25em;
$standard-border-radius:10px;
.styled-button {
    font-size: $standard-font-size * 2;
    padding: 15px 32px;
    margin: 8px 8px;
    min-width: 160px;
}

// .styled-button:hover {
//     box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
// }
.styled-submit-button{
    font-size:$standard-font-size ;
}

.create {
    background-color:forestgreen;
}

.edit {
    background-color: blue;
}

.delete {
    background-color: red;
}

.delete-dark{
    background-color: darkred;

}

.circle{
    min-width: 0;
    border-radius: 50%;
    font-size: 2em;
    width: 64px;
    height: 64px;
    padding: 0;
}