<form *ngIf="loginFormGroup" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()"
    style="display: flex; flex-direction: column;">

    <label for="username">User Name:</label>
    <input id="username" type="text" formControlName="username">

    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">


    <div class="button-section">
        <button class="styled-submit-button" type="submit" [disabled]="!loginFormGroup.valid">Submit</button>
    </div>
</form>