

@import "../shared/styling/button-styling.scss";
@import "../shared/styling/table-styling.scss";

.action-buttons {
    display: flex;
    justify-content: space-around;
}

.table-wrapper {
    width: 100%;
}


.name-styling {
    text-decoration: none !important;
    color: inherit;
    font-weight: bolder;
}
