<div class="content-wrapper">
    <div class="product-list-header">
        <h1>
            Products
        </h1>
        <div>
            <button *ngIf="isAdminUser()" class="styled-button" [title]="'checkout page'" [routerLink]="['/products/add']">
                Add Product
            </button>
            <button *ngIf="isAdminOrCustomer()" class="styled-button checkout" [title]="'checkout page'" [routerLink]="['/checkout']">
                Checkout
            </button>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-styling">
            <thead>
                <th>Category</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>
                        {{product.category}}
                    </td>
                    <td>
                        <span class="name-styling">
                            {{product.name}}
                        </span>
                    </td>
                    <td>
                        {{product.price | currency:'RON':'code'}}
                    </td>
                    <td>
                        <button class="styled-button edit" [title]="product.name + 'details'"
                            [routerLink]="['/products',product.id]">
                            Details
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>